//Colors
$primary__tomato: hsl(4, 100%, 67%);
$secondary__tomato: hsl(4, 100%, 40%);
$primary__pink: hsla(14, 100%, 64%, 0.178);

$neutral__dark-slate-grey: hsl(234, 29%, 20%);
$neutral__charcoal-grey: hsl(235, 18%, 26%);
$neutral__grey: hsl(231, 7%, 60%);
$neutral__white: hsl(0, 0%, 100%);

//Typography
$fs-email-head: 0.75rem;
$fs-copy: 1rem;
$fs-copy-l: 0.9rem;
$fs-h1: 2.5rem;
$fs-h1_l: 3.2rem;
$fs-h1_xl: 3.625rem;

$ff-primary: 'Roboto', sans-serif;

$fw-regular: 400;
$fw-bold: 700;
